@model List<ResultUserDto>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<main class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Kullanıcılar</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Kullanıcı Listesi</li>
                </ol>
            </nav>
        </div>

    </div>
    <!--end breadcrumb-->

    <div class="card">
        <div class="card-body">
            
            <div class="table-responsive mt-3">
                <table class="table align-middle">
                    <thead class="table-secondary">
                        <tr>
                            <th>#</th>
                            <th> Ad Soyad</th>
                            <th>Unvan</th>
                            <th>Email</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Detay</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name @item.UserSurname </td>
                                <td>@item.Title</td>
                                <td>@item.Email</td>
                                <td>
                                    <a href="/User/DeleteUser/@item.Id" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sil"><i class="bi bi-trash-fill"></i></a>
                                </td>
                                <td>
                                    <a href="/User/UpdateUser/@item.Id" class="text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Güncelle"><i class="bi bi-pencil-fill"></i></a>
                                </td>
                                <td>
                                    <a href="/User/UserDetails/@item.Id" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Detay"><i class="bi bi-eye-fill"></i></a>
                                </td>
                            </tr>

                        }


                    </tbody>
                </table>
                <a href="/User/CreateUser" class="btn btn-primary px-5">Yeni Kullanıcı Ekle</a>
            </div>
        </div>
    </div>





</main>

